#board {
  position: relative;
  margin: 0 auto;
  aspect-ratio: 1/1;
  height: calc((50svh + 50svw) / 2);
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#board-container {
  height: 800px;
  width: 800px;
}

.row{
  display: flex;
  flex: auto;
  width: 100%;
}

.tile {
  flex: auto;
  height: 100%;
  aspect-ratio: 1;
  border: grey solid 1px;
}